.cardCollection{

    background-color: var(--white);

    & .container {
        height: 600px;

        & .card-title {
            padding-top: 60px;
            padding-bottom: 20px;
            text-align: center;
            font-size: 28px;
            font-weight: 500;
        }
    }
}

