.cardCollection{

    & .container {
        height: 650px;

        & .card-title {
            padding-top: 60px;
            padding-bottom: 40px;
            text-align: center;
            font-size: 28px;
            font-weight: 400;
        }
    }
}

