.serviceCard {
  

  & .item-service-card {
    
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 306px;
    height: 410px;
    text-decoration-line: none;
    background-color: var(--coolWhite);

    & .item-wrapper {
      width: 260px;
      height: 70%;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; 
      margin-bottom: 5px;

      & .card-top {
        margin-top: 20px;
        margin-bottom: 15px;
      }

      & .card-mid {
     
        & h3 {
          color: var(--tooDark);
          font-size: 20px;
        }

        & h4 {
          font-weight: 400;
          font-size: 17px;
          color: var(--textColor2);
        }
      }
    }

    & .card-footer {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1.5px solid var(--mainColor);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.2s ease-in;
      margin-bottom: 15px;
      & .arrow-right {
        font-size: 15px;
        color: var(--mainColor);
      }
    }
  }
}
