.serviceCard {
  & .item-service-card {
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    background-color: var(--coolWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 306px;
    height: 400px;

    & .item-wrapper {
      width: 260px;
      height: 70%;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      & .card-top {
        margin-top: 20px;
        margin-bottom: 15px;
      }

      & .card-mid {
        & h3 {
          font-size: 20px;
        }

        & h4 {
          font-size: 17px;
          color: var(--textColor);
        }
      }
    }

    & .card-footer {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1.5px solid var(--mainColor);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.2s ease-in;

      & .arrow-right {
        font-size: 15px;
        color: var(--mainColor);
      }
    }
  }
}
