.example {
    
    background-color: var(--white);

   & .container {
        height: 800px;
        overflow: hidden;

        & .example-title {
            text-align: center;
            margin-top: 70px;
            margin-bottom: 50px;

            & h1 {
                font-size: 42px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            & h4 {
                font-size: 17px;
                font-weight: 500;
            }
        }

        & .example-content {
            display: flex;

            & .accordion-content {
            
                width: 50%;
                height: 500px;
                display: flex;

                & .accordion-container {
                    width: 540px;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                }
                  
            }

            & .binded-content {
                width: 50%;
                height: 500px;

              & .binded-wrapper {
                position: relative;
                width: 100%;
                height: 100%;

                & .binded-img {
                    border-radius: 31px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity .35s ease-in-out, visibility .35s ease-in-out;
                }
                & .binded-img.open{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    visibility: visible;
                    opacity: 1;
                }
              }
            }
        }
    }
}